{{include file='layouts/content_header.html'}}

  <!-- Main content -->
  <section class="content">

    <div class="error-page">
      <h2 class="headline text-red">401</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> 哎呀! 有个问题发生了。</h3>

        <p>
          看起来,您没有这个页面的访问权限。<br />
          要不, 返回首页看看? 或者向管理员申请!
        </p>

        <form class="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">

            <div class="input-group-btn">
              <button type="button" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
